<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957010353914-qu5ue6drgobvkgdmldnh632hbn7jqig4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957010353914-qu5ue6drgobvkgdmldnh632hbn7jqig4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxywb3Nw0TIeL0a1zVLhoDHiQt2DmK4Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>957010353914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carehomeapp.carehomeapp</string>
	<key>PROJECT_ID</key>
	<string>carehomeapp-a2936</string>
	<key>STORAGE_BUCKET</key>
	<string>carehomeapp-a2936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957010353914:ios:2b5388d096e92ee4c4b343</string>
	<key>DATABASE_URL</key>
	<string>https://carehomeapp-a2936.firebaseio.com</string>
</dict>
</plist>